{% extends "core/base.html" %}

{% block content %}
<div class="text-center">
    <h1 class="my-4">Calendario Académico Consolidado</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-primary">
                <tr>
                    <th>Fecha</th>
                    <th>Título</th>
                    <th>Tipo</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iteración sobre eventos -->
                {% for evento in eventos %}
                <tr>
                    <td>{{ evento.start_date }}</td>
                    <td>{{ evento.title }}</td>
                    <td>{{ evento.event_type }}</td>
                    <td>{{ evento.description }}</td>
                </tr>
                {% endfor %}

                <!-- Iteración sobre feriados -->
                {% for feriado in feriados %}
                <tr>
                    <td>{{ feriado.date }}</td>
                    <td>{{ feriado.name }}</td>
                    <td>Feriado</td>
                    <td>{{ feriado.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}