{% extends 'core/base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="card shadow p-4" style="width: 400px;">
        <h3 class="text-center mb-4">Registro de Usuario</h3>
        <form method="post" action="#">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de Usuario</label> {{error1}}
                <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@correo.com" required>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Tipo de Usuario</label>
                <select class="form-select" id="role" name="role" required>
                    <option value="" disabled selected>Selecciona tu rol</option>
                    <option value="Estudiante">Estudiante</option>
                    <option value="Profesor">Docente</option>
                    
                </select>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label> {{error2}}
                <input type="password" class="form-control" id="password1" name="password1" placeholder="Crea una contraseña segura" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Repite la contraseña" required>
            </div>
            {{error3}}
            <button type="submit" class="btn btn-primary w-100">Registrarse</button>
            <div class="text-center mt-3">
                <small>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></small>
            </div>
        </form>
    </div>
</div>
{% endblock %}